:root{
  --cor-um: #201742;
  --cor-dois: #0C3757;
  --cor-tres: #151334;
  --cor-branco: #ffffff;
  --cor-preto: #000000;  
  --cor-flowerblue: cornflowerblue;
  --cor-lightgray: lightgray;
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom, var(--cor-um), var(--cor-dois));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#navBar {
  background: var(--cor-tres);
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  margin-bottom: 100px;
}

form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}



#foot {
  background-color: var(--cor-tres);
  color: var(--cor-branco);
  padding-top: 25px;
  padding-left: 25px;
  
}

#foot img {
  width: 60%;
  height: 70%;
}
.icons {
  color: var(--cor-branco);
}

h4 {
  color: var(--cor-lightgray);
}

span {
  color: var(--cor-lightgray);
}

p {
  color: var(--cor-lightgray);
}


#logoLateral {
  background-color: var(--cor-tres);
  width: fit-content;
  height: 100%;
  padding-inline: 50px;
}

#logoLateral img {
  max-width: 100%;
}

#formLogin {
  background-color: var(--cor-tres);
  padding: 20px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  height: fit-content;
  flex-direction: column;
}
